<!doctype html>
<html>
  <head>
    <title>Doritos for Dinner{% if page.title%}: {{ page.title }}{% endif %}</title>
    <style type="text/css">
    	body {
    		max-width: 66ex;
    		margin: 4em auto;
    		font-family: 'Courier New', Courier, monospace;
    		font-size: 110%;
    		line-height: 1.4;
    		color: #444;
    		background-color: #fff;
    	}
    	
    	h1 {
    		font-size: 1em;
    		font-weight: normal;
    		text-align: center;
    		text-transform: uppercase;
    	}
    </style>
  </head>
  <body>
      {{ content }}
  </body>
</html>
